<%- layout("/layouts/boilerplate") %>
<div class="col-md-7 col-12 mt-4">
    <h2 class="mb-3">Edit Your Details</h2>
    <h4>Username: <i>@<%= currUser.username %></i></h4>
<form method="POST" action="/users?_method=PATCH" novalidate class="needs-validation">
    <div class="mb-3 mt-3">
        <label for="email" class="form-label" >Email :</label>
        <input id="email" type="email" name="email" value="<%= currUser.email %>" class="form-control" required>
    </div>
    <div id="showEditPass" class="btn btn-outline-danger mb-3" type="button">Change password</div>
    <div class="mb-3" id="editPassDiv" style="display: none">
        <label for="new-password" class="form-label" >New password :</label>
        <input id="new-password" type="password" class="form-control" name="newPassword">
    </div>
    <div class="mb-3">
        <label for="old-password" class="form-label">Type old password to apply changes:</label>
        <input id="old-password" type="password" class="form-control" name="oldPassword" required>
    </div>
    <div>
        <button type="submit" class="btn btn-outline-success">Submit</button>
    </div>
</form> 
<hr>
<div class="mt-3 mb-3">
    <form action="/users?_method=DELETE" method="POST" novalidate class="needs-validation">
        <div class="mb-3">
            <label for="old-password" class="form-label">Type old password and press delete to delete account :</label>
            <input id="old-password" type="password" class="form-control" name="oldPassword" required>
        </div>
        <button class="btn btn-danger" >Delete</button>
    </form>
</div>

<script>
    let showEditPassBtn = document.getElementById("showEditPass");
    showEditPassBtn.addEventListener("click", (event) => {
        showEditPassBtn.style.display = "none";
        let editPassDiv = document.getElementById("editPassDiv");
        editPassDiv.style.display = "block";
        let inputTag = document.querySelector("#editPassDiv input");
        inputTag.required = true;
    });

</script>