<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h2>Total number of users : <%= results[0]["COUNT(*)"] %></h2>
    <a href="/user"><button>Show all users</button></a>
</body>
</html>