<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New user</title>
</head>
<body>
    <h2>Add new user</h2>
    <form method="post" action="/user">
        <label for="name">Name : </label>
        <input id="name" type="text" name="name" placeholder="Enter full name">
        <br>
        <label for="email" >Email : </label>
        <input id="email" type="email" name="email" placeholder="Enter your email">
        <br>
        <label for="password">Password : </label>
        <input id="password" name="password" type="password" placeholder="Enter password">
        <br>
        <button>Register</button>
    </form>
</body>
</html>