#container {
    height: 900px;
    width: 80%;
    border: 2px solid black;
    margin: 0 auto;
    display: flex;
    flex-direction:row;
    justify-content: flex-start; /*flex-start, center, space-between, space-around, space-evenly;*/
    flex-wrap: wrap;
    align-items: center;/*flex-start, flex-end, baseline  bypassed by align-content*/
    /* align-content: space-around; */
}

#container div {
    text-align: center;
    height: 200px;
    width: 50px;
    font-size: larger;
}

#ind {
    /* align-self:flex-start; */
    flex-basis: 100px;
    flex-grow: 2;
    /* also we can write shorthand for this flex: grow shrink basis; */
    max-width: 200px;
}

#blue {
    flex-basis: 200px;
    /* flex-grow: 1; */
    flex-shrink: 1;
    min-width: 150px;
}
